* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #B91450;
}

/*  TITLE */

h1 {
    
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 25px;
}



section {
    width: 1000px;
    background-color: white;

    margin: 0 auto;

}

/*  First Section */

section:first-of-type {
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
}

/*  INPUT */

form {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div label, 
legend {
    text-align: center;
    color: #B91450;
    font-weight: 600;
}

form input, 
fieldset select {
    border: 1px solid #B91450;
    padding: 5px 10px;
    font-size: 20px;
}

/* personalizzazione input form */


form input::placeholder {
    text-align: center;

    color: black;
}


form fieldset {

    gap: 20px;
    
    border: none;
}

form legend {
    padding-bottom: 20px;
}

/* BUTTONS*/

#buttons {
    display: flex;
    justify-content: center;
    gap: 25px;

    padding-top: 65px;
    padding-bottom: 20px;


}

button {
    background-color: #CCCCCC;
    border: 2px orange solid;
    padding: 5px 5px;
    border-radius: 7px;
}

#annulla {
    border: 2px darkgrey solid;
}

#buttons a {
    text-decoration: none;
    
    font-size: 16px;
    font-weight: bold;
    color: #B91450; 
}
/* h2 */

h2 {
    margin-bottom: 0px;

    font-size: 30px;
    color: white;
    text-align: center;
}

/* Second Section: Output */

section:nth-of-type(2) {
 display: flex;
 flex-direction: column;
 
}

h3 {
    margin-bottom: 0px;

   
    padding-left: 25px;
    padding-top: 30px;
    font-size: 22px;
}

#output_results {
    display: flex;
    gap: 20px;

    border-top: solid 1px #808080;
    border-bottom: solid 1px #808080;
    
    margin-left: 25px;
    margin-right: 25px;

    margin-bottom: 25px;
}

#output_results .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    padding-top: 30px;
    padding-bottom: 30px;

   
}

.row_special {
    padding-left: 25px;
}

#output_results div:first-child {
    gap: 2px;
    width: 300px;
    background-color: #808080;
}

#output_results div:first-child h4 {
    font-size: 20px;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 30px;

}

#output_results h4 {
    margin-bottom: 0px;
    
}


#output_results div:first-child {
    width: 30%;
}

#output_results div:nth-of-type(2) {
    width: 20%;
    padding-bottom: 30px;
}

#output_results div:nth-of-type(3),
#output_results div:nth-of-type(4) {
    width: 12.5%;
    padding-bottom: 30px;
}

#output_results div:nth-of-type(5) {
    width: 12.5%;
    padding-bottom: 30px;
}


